.nav-top{    background: #c1c1c1;    height: 100px;}.left-block{    height: 500px;    width: 20%;    padding: 30px;}.content{    padding: 50px;}.parent{    display: flex;}.error{    color: red;}